<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Doto:wght@100..900&family=New+Amsterdam&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/styles/estilos.css">
    <link rel="stylesheet" href="/styles/carrito.css">
    <title>Carrito de Compras</title>
</head>
<body>
    <div class="nombre">
        <h1 class="next">NEXT_LEVEL</h1>
    </div>
    <div class="primera-parte">
        <div class="imagen-logo">
            <img class="logo1" src="/assets/img/logo1.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/index.html">HOME</a></li>
                <li><a href="/templates/tienda.html">TIENDA</a></li>
                <li><a href="/templates/eventos.html">EVENTOS</a></li>
                <li><a href="/">ACCEDE A CONTENIDO EXCLUSIVO</a></li>
            </ul>
        </nav>
        <div class="logos-nav">
            <a href="/templates/carrito.html"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/templates/usuario.html"><i class="fa-regular fa-user"></i></a>
        </div>
    </div>
    <section class="bodyCarrito">
        <div class="carrito_contenedor">
            <h2>Tu Carrito de Compras</h2><br>
            <div id="cartItems"></div> <!-- ESTA LINEA QUE AGREGUE ES LA QUE BUSCA JAVASCRIPT PARA MOSTRAR LOS PRODUCTOS BUSCA ESTE ID-->
            <div class="cart-items">
                <!-- Productos del carrito -->
            </div>
            <div class="carrito_total">
                <h3>Subtotal: <span class="subtotal">$0.00</span></h3>
                <h3>IVA (21%): <span class="iva">$0.00</span></h3>
                <h3>Total: <span class="total">$0.00</span></h3>
            </div>
            <button class="carrito_boton empty-cart-btn">Vaciar Carrito</button>
            <button class="carrito_boton checkout-btn">Comprar</button>
        </div>
        

        <!-- Modal de Pago -->
        <div class="carrito_modal">
            <div class="carrito_modal-contenido">
                
                <h2>Finalizar Compra</h2><br>
                <div class="carrito_resumen"><br>
                    <!-- Resumen de la compra (se llenará con JS) -->
                </div>
                <div class="carrito_botones-accion">
                    <button class="carrito_boton carrito_boton-comprar">Confirmar Compra</button>
                    <button class="carrito_boton carrito_boton-cancelar">Cancelar</button>
                </div>
            </div>
        </div>
    </section>
    <footer>
        derechosReservadosNext_Level&copy;
    </footer>
    <script src="../src/carrito.js"></script>
</body>
</html>
