<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Doto:wght@100..900&family=New+Amsterdam&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=div, initial-scale=1.0">
    
    <link rel="stylesheet" href="/styles/estilos.css">
    <title>Document</title>
</head>
<body>
    <div class="nombre">
        <h1 class="next">NEXT_LEVEL</h1>
    </div>
    <div class="primera-parte">
        <div class="imagen-logo">
            <img class="logo1" src="/assets/img/logo1.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/index.html">HOME</a></li>
                <li><a href="tienda.html">TIENDA</a></li>
                <li><a href="">EVENTOS</a></li>
                <li><a href="">ACCEDE A CONTENIDO EXCLUSIVO</a></li>
            </ul>
        </nav>
        <div class="logos-nav">
            <a href="/templates/carrito.html"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/templates/usuario.html"><i class="fa-regular fa-user"></i></a>

        </div>
    </div>
    <section class="pt-tienda1">
        <div class="dropdown">
            <button class="dropbtn">Productos</button>
            <div class="dropdown-content">
              <a href="/templates/sillasgamer.html">Sillas Gamer</a>
              <a href="/templates/mouse.html">Mouse</a>
              <a href="#">Teclados</a>
              <a href="#">Diademas</a>
              <a href="#">Pad Mouse</a>
            </div>
        </div>
        <div class="navegacion">
            <input class="lupa" type="text" placeholder="BUSQUEDA DE PRODUCTOS">
        </div>
    </section>
    <section class="pt-tienda2">
        <div>
            <div class="producto">
                <img src="/assets/img/relleno1.webp" alt="">
                <button class="ver"><a href="">Ver Mas</a></button>
            </div>
            <div class="producto">
                <img src="/assets/img/relleno1.webp" alt="">
                <button class="ver">Ver Mas</button>
            </div>
            <div class="producto">
                <img src="/assets/img/relleno1.webp" alt="">
                <button class="ver">Ver Mas</button>
            </div>
            <div class="producto">
                <img src="/assets/img/relleno1.webp" alt="">
                <button class="ver">Ver Mas</button>
            </div>
            <div class="producto">
                <img src="/assets/img/relleno1.webp" alt="">
                <button class="ver">Ver Mas</button>
            </div>
            <div class="producto">
                <img src="/assets/img/relleno1.webp" alt="">
                <button class="ver">Ver Mas</button>
            </div>
            <div class="producto">
                <img src="/assets/img/relleno1.webp" alt="">
                <button class="ver">Ver Mas</button>
            </div>
            <div class="producto">
                <img src="/assets/img/relleno1.webp" alt="">
                <button class="ver">Ver Mas</button>
            </div>
        </div>
       

    </section>
      
    <footer>
    derechosReservadosNext_Level&copf;        
    </footer>
</body>
</html>